- representation = nil if !defined?("representation")
- field_key = search_model.model_name.plural
- field_key += "-#{representation}" if !representation.nil?

#search-fields.modal-dialog.modal-lg
  .modal-content
    .modal-header
      %h4#loginLabel.modal-title= t("custom_table.customize_search")
      %button.btn-close(type="button" data-bs-dismiss="modal" aria-label="close")
    .modal-body
      %p= t("custom_table.description")

      %turbo-frame#search-settings

        = vertical_form_for current_user, url: settings_user_path(current_user) do |f|

          = f.simple_fields_for :set_search_settings do |sf|

            = sf.hidden_field "model", value: field_key


            - items = custom_table_customizable_fields_for(search_model)
            - checkeds = custom_table_fields_for(search_model, representation: representation).keys

            - if items.length < 20
              = sf.input "fields", :as => :check_boxes, wrapper: :custom_boolean_switch, :collection => items, :label_text => false, label: false, checked: checkeds
            - else
              .row
                .col-md-6
                  = sf.input "fields", :as => :check_boxes, wrapper: :custom_boolean_switch, :collection => items[0..(items.length/2)], :label_text => false, label: false, checked: checkeds
                .col-md-6
                  = sf.input "fields", :as => :check_boxes, wrapper: :custom_boolean_switch, :collection => items[(items.length/2+1)..], :label_text => false, label: false, checked: checkeds


          = f.button :submit, class: "btn-success", value: t("save")
