- representation = nil if !defined?("representation")
- field_key = search_model.model_name
- field_key += "-#{representation}" if !representation.nil?
- cls = local_assigns[:large].nil? ? "btn-sm" : ""

.modal.fade.show{id: "customize-items-#{field_key}", tabindex: "-1", role: "dialog", "aria-labelledby": "loginLabel", "aria-hidden": "true", data: {controller: "remote-modal",
    action: "turbo:before-render@document->remote-modal#hideBeforeRender"}}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h4#loginLabel.modal-title
          = t("custom_table.customize_table")+":"
          = search_model.model_name.human
        %button.btn-close(type="button" data-bs-dismiss="modal" aria-label="close")
      .modal-body

        = turbo_frame_tag "custom-table-settings" do

          %p= t("custom_table.customize_table_description")

          = simple_form_for current_user, url: custom_table.setting_path(id: search_model.model_name) do |f|

            = f.hidden_field "model", value: search_model.model_name
            = f.hidden_field "representation", value: representation

            - items = custom_table_fields_settings_for(search_model, representation: representation)

            = f.simple_fields_for :fields do |sfi|
              %div{data: {controller: "sortable", "data-sortable-handle-value": ".handle"}}

                - items.each do |field, item|
                  -# = abort item.inspect
                  %div
                    %i.bi.bi-arrow-down-up.handle{style: "cursor: move"}
                    .form-check.form-switch.d-inline-block
                      -# - if item[:appear] == :always
                      = sfi.hidden_field field, value: 1 if item[:appear] == :always
                      = sfi.check_box field, {checked: item[:selected], class: "form-check-input", disabled: (item[:appear] == :always)}, 1, 0#, as: :boolean, wrapper: :custom_boolean_switch, label: item[0], checked: true
                      %label.form-check-label= item[:label]
              -# - if items.length < 20
              -# = sf.input "fields", :as => :check_boxes, wrapper: :custom_boolean_switch, wrapper_html: {data: "kek"}, :collection => items, :label_text => false, label: false, checked: checkeds
              -# - else
              -#   .row
              -#     .col-md-6
              -#       = sf.input "fields", :as => :check_boxes, wrapper: :custom_boolean_switch, :collection => items[0..(items.length/2)], :label_text => false, label: false, checked: checkeds
              -#     .col-md-6
              -#       = sf.input "fields", :as => :check_boxes, wrapper: :custom_boolean_switch, :collection => items[(items.length/2+1)..], :label_text => false, label: false, checked: checkeds

            .mt-2
              = f.button :submit, class: "btn-success", value: t("save")
