- variant = local_assigns[:variant]
- model_name = item.model_name.singular # Allows to show different class models in one table!
-# = render partial: "custom_tables/table_row", locals: local_assigns.merge(item: item, position: position, fields: fields, fields_totals: fields_totals)
- row_class_helper = local_assigns[:row_class] || "#{model_name}_row_class"
- row_class = [(self.send(row_class_helper, item) rescue "")]

- row_class += ["child-of-#{item.parent_id}", (local_assigns[:expanded] ? "" : "d-none")] if local_assigns[:tree] && !item.parent_id.nil?
- row_class += ["child-of-#{local_assigns[:grouped_by_id]}", (local_assigns[:expanded] ? "" : "d-none")] if local_assigns[:grouped_by_id] 

- tr_data = {}
- if local_assigns[:sortable]
  - tr_data["sortable-update-url"] = url_for(item)
%tr{id: dom_id(item, "row"), :class => row_class, data: tr_data }

  - if local_assigns[:tree]
    %td
      - if item.parent_id.nil?
        - if local_assigns[:has_children]
          = tree_opener(item.id, local_assigns[:has_children], local_assigns[:expanded])
      - else
        %span.ms-2
          = custom_table_icon(custom_table_tree_child_icon_class)

  - if local_assigns[:sortable]
    %td
      %i.fa.fa-grip-vertical.sort-handler.me-2

  - if local_assigns[:with_select]
    %td.checkbox-col
      - if local_assigns[:with_select].to_s == "true"
        = check_box_tag "#{item.model_name.plural}[]", item.id, (!params[item.model_name.plural.to_sym].blank?) && (params[item.model_name.plural.to_sym].include?(item.id.to_s)), data: {"toggle-target": "checkbox", "batch-actions-target": "checkbox", "action": "toggle#recalculateToggler batch-actions#refresh"}
      - else
        = self.send(local_assigns[:with_select], item, position)

  - if local_assigns[:with_index]
    %td
      = position

  - custom_table_fields_totals(fields: fields, item: item, totals: local_assigns[:totals], variant: variant, fields_totals: fields_totals)

  - fields.each do |field, defs|
    - next if defs[:table] == false
    - td_classes = [field.to_s]
    - td_classes += ["text-end"] if defs[:amount]
    - td_classes += ["text-nowrap"] if defs[:nowrap]
    - td_classes += ["amount"] if defs[:amount]

    %td{class: td_classes, id: dom_id(item, field)}
      - v = field_value_for(item, field, definitions: defs, variant: variant)

      - editable_enabled = defs[:editable]
      - editable_enabled = editable_enabled.call(item) if editable_enabled.respond_to?(:call)

      - if editable_enabled

        = editable item, field do
          - if defs[:link_to_show] == true && custom_table_has_show_route?(item) && can?(:show, item)
            -# = link_to v, url_for(controller: controller_name, action: "show", id: item.to_param)
            = link_to v, [namespace, item], data: {turbo: false}
          - else
            = v
      - else
        - if defs[:link_to_show] == true && custom_table_has_show_route?(item) && can?(:show, item)
          -# = link_to v, url_for(controller: controller_name, action: "show", id: item.to_param)
          = link_to v, [namespace, item], data: {turbo: false}
        - else
          = v

  - if !local_assigns[:skip_actions]

    %td.text-end.actions
      - if !local_assigns[:actions].nil?
        = self.send(local_assigns[:actions], item)
      - elsif !variant.nil? && self.class.method_defined?("#{variant}_#{model_name}_custom_table_actions")
        = self.send("#{variant}_#{model_name}_custom_table_actions", item)
      - elsif self.class.method_defined?("#{model_name}_custom_table_actions")
        = self.send("#{model_name}_custom_table_actions", item)
      - if local_assigns[:skip_default_actions].nil?
        - local_assigns[:force_edit_button] = true if local_assigns[:force_edit_button].nil? && !custom_table_has_show_route?(item)
        - if (local_assigns[:force_edit_button]) && can?(:update, item)
          = custom_table_edit_button [:edit, namespace, local_assigns[:parent], item], id: "edit_#{item.model_name.singular}_#{item.id}", modal: local_assigns[:modal_edit]
        - if can? :destroy, item
          - if (Rails.application.routes.recognize_path(url_for([namespace, local_assigns[:parent], item]), :method => :delete) rescue false)
            = custom_table_delete_button [namespace, local_assigns[:parent], item], id: "destroy_#{item.model_name.singular}_#{item.id}"
